<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <title>The Fresh Keeper</title>
  </head>
  <body class="bg-background">
    <section class="" id="login-page">
      {% include 'components/login.html' %}
    </section>
    <section class="hidden" id="signup-page">
      {% include 'components/signup.html' %}
    </section>
    <section class="hidden" id="refrigerator-page">
      {% include 'components/main.html' %}
    </section>

    <script>
      // 해야하는 것
      // 1. 페이지가 새로고침 또는 처음 불러와질 때 로컬스토리지에 user-id가 존재하는지 확인
      // 2. user-id o
      // 2-1. login_page, signup-page section은 class hidden
      // 2-2. refrigerator-page만 화면에 출력
      // 3. user-id x

      // 로그인 성공 시 서버로부터 user-id, user-nickname 받음
    </script>
    <script src="../static/js/tailwind.config.js"></script>
  </body>
</html>
