{% extends "index.html" %} {% block head %} {{ super() }} {% endblock %} {%
block content %}
<header class="container mx-auto mt-40 mb-60">
  <p class="text-center text-7xl font-bold text-basic">The Fresh Keeper</p>
  <p class="text-center text-3xl text-dark">냉장고 관리 도우미</p>
</header>

<div class="container mx-auto px-60" id="container-form">
  <div class="p-2 rounded-2xl bg-white">
    <div>
      <div class="mt-2">
        <input
          type="text"
          placeholder="ID"
          id="user-id"
          name="user-id"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
        />
      </div>
    </div>
    <div>
      <div class="mt-2">
        <input
          type="password"
          placeholder="PW"
          id="user-pw"
          name="user-pw"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div class="mt-2">
      <input
        type="submit"
        value="로그인"
        onclick="login()"
        id="btn-login"
        class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 bg-basic text-white"
      />
    </div>
    <div class="mt-2 text-center text-basic">
      <button id="btn-signup">회원가입</button>
    </div>
  </div>
</div>

<script>
  $("#btn-signup").on("click", function () {
    $(location).attr("href", "/signup");
  });

  function loginInputValidate(inputId, inputPw) {
    if (inputId == "" && inputPw == "") {
      $("#user-id").css("border", "1px solid red");
      $("#user-pw").css("border", "1px solid red");
      return false;
    } else if (inputId == "") {
      $("#user-id").css("border", "1px solid red");
      return false;
    } else if (inputPw == "") {
      $("#user-pw").css("border", "1px solid red");
      return false;
    }
    return true;
  }

  function login() {
    let inputId = $("#user-id").val();
    let inputPw = $("#user-pw").val();
    let isLoginSuccess = false;
    if (loginInputValidate(inputId, inputPw)) {
      new Promise((resolve, reject) => {
        $.ajax({
          type: "POST",
          url: "/login",
          data: { id_give: inputId, pw_give: inputPw },
          success: function (response) {
            if (response["result"] == 200) {
              //로그인 성공시 쿠키에 토큰 저장
              $.cookie("userToken", response["token"]);
              //-----------------------
              $("#login-page").toggleClass("hidden");
              isLoginSuccess = true;
            } else if (response["error"] == 404) {
              $("#user-id").css("border", "1px solid red");
              let error = `<span style="color: red">존재하지 않는 아이디 입니다.</span>`;
              $("#container-form").find("span").remove();
              $("#container-form").append(error);
            } else if (response["error"] == 401) {
              $("#user-pw").css("border", "1px solid red");
              let error = `<span style="color: red">비밀번호가 일치하지 않습니다.</span>`;
              $("#container-form").find("span").remove();
              $("#container-form").append(error);
            }
          },
        }).then((arg) => {
          if (isLoginSuccess) {
            // console.log($.cookie("userToken"));
            console.log(`Bearer ${$.cookie("userToken")}`);
            let requestId = btoa(inputId);
            $.ajax({
              type: "GET",
              url: `/refrigerator/${requestId}`,
              data: {},
              headers: {
                Authorization: `Bearer ${$.cookie("userToken")}`,
              },
              success: function (response) {
                if (response["result"] == 401) {
                } else {
                  $(location).attr("href", `/refrigerator/${requestId}`);
                }
              },
            });
          } else {
          }
        });
      });
    }
  }
</script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
></script>
{% endblock %}
