<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <title>The Fresh Keeper</title>
  </head>
  <body class="bg-background h-screen">
    <header class="container h-[10%] mx-auto mt-5">
      <p class="text-center text-5xl font-bold text-basic">
        {{userName}}의 냉장고
      </p>
    </header>

    <div class="grid grid-cols-3 auto-rows-auto gap-5 h-[80%] text-center">
      <div>
        <div class="grid grid-rows-2 gap-5 h-[20%] px-5">
          <div>
            <details class="open">
              <!-- Button to be visible -->
              <summary
                class="bg-basic text-white rounded-2xl block px-6 py-4 text-xl hover:bg-dark hover:duration-300 cursor-pointer"
              >
                식료품 추가
              </summary>

              <!-- Content will be hidden until the user clicks on the summary button. -->
              <div
                class="bg-white rounded-2xl w-[50%] h-[40%] shadow-lg my-auto mx-auto absolute inset-0 text-gray-600 p-4 py-8"
              >
                <button>x</button>
                <div>
                  <div class="mt-2">
                    <input
                      type="text"
                      placeholder="ID"
                      name="user-id"
                      class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
                    />
                  </div>
                  <p>여긴 selector 자리</p>
                  <div class="mt-2">
                    <input
                      type="text"
                      placeholder="ID"
                      name="user-id"
                      class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
                    />
                  </div>
                  <div class="mt-2">
                    <input
                      type="text"
                      placeholder="ID"
                      name="user-id"
                      class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
                    />
                  </div>
                  <div class="mt-2">
                    <input
                      type="text"
                      placeholder="ID"
                      name="user-id"
                      class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
                    />
                  </div>
                </div>
                <button>등록</button>
              </div>
            </details>
          </div>
          <div>
            <details class="open">
              <!-- Button to be visible -->
              <summary
                class="bg-basic text-white rounded-2xl block px-6 py-4 text-xl hover:bg-dark hover:duration-300 cursor-pointer"
              >
                관리 키워드 설정
              </summary>

              <!-- Content will be hidden until the user clicks on the summary button. -->
              <div
                class="bg-white rounded-2xl w-[50%] h-[40%] shadow-lg my-auto mx-auto absolute inset-0 text-gray-600 p-4 py-8"
              >
                <button>x</button>
                <div>
                  <div class="mt-2">
                    <input
                      type="text"
                      placeholder="ID"
                      name="user-id"
                      class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
                    />
                  </div>
                  <button>등록</button>
                </div>

                <div>
                  <ul>
                    <li>
                      <span>{{식료품 이름}}</span>
                      <button>수정</button><button>삭제</button>
                    </li>
                  </ul>
                </div>
              </div>
            </details>
          </div>
        </div>
        <div class="h-[80%] p-5">
          <div class="h-full bg-white">장바구니 추천 리스트</div>
        </div>
      </div>
      <div class="bg-white">
        <div class="text-left">
          <button id="btn-refrigeration">냉장</button>
          <button id="btn-freeze">냉동</button>
        </div>
        <hr />
        <!--foods list-->
        <ul>
          <li>
            <div>
              <p>{{식료품 이름}}</p>
              <p>{{구매 날짜}}</p>
            </div>
            <div>D-{{남은 소비 기한}}</div>
          </li>
        </ul>
      </div>

      <!--food info, Default: visibility: hidden;-->
      <div>
        <div>X</div>
        <div>
          <p>{{클릭한 식료품 이름}}</p>
          <p>{{클릭한 식료품 구매 날짜}}</p>
          <p>{{클릭한 식료품 소비 기한}}</p>
          <div>
            <button>-</button>
            <span>{{클릭한 식료품 수량}}</span>
            <button>+</button>
          </div>
        </div>
        <div>
          <button>삭제</button>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {});
    </script>
    <script src="../static/js/tailwind.config.js"></script>
  </body>
</html>
