{% extends "index.html" %} {% block head %} {{ super() }} {% endblock %} {%
block content %}
<header class="container mx-auto mt-40 mb-60">
  <p class="text-center text-7xl font-bold text-basic">회원가입</p>
</header>

<div class="container mx-auto px-60" id="container-form">
  <div class="w-[60%] mx-auto p-10 rounded-2xl bg-white">
    <div>
      <div class="mt-2">
        <input
          type="text"
          placeholder="사용할 이름"
          id="input-nickname"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
        />
      </div>
    </div>
    <div class="mt-5">
      <div class="mt-2">
        <input
          type="text"
          placeholder="ID"
          id="input-id"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
        />
      </div>
    </div>
    <div>
      <div class="mt-5">
        <input
          type="password"
          placeholder="PW"
          id="input-pw"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div class="mt-5">
      <input
        type="submit"
        value="회원가입"
        onclick="signup()"
        id="btn-signup"
        class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 bg-basic text-white"
      />
    </div>
  </div>
</div>

<script>
  $("#btn-prev").on("click", function () {
    $("#login-page").toggleClass("hidden");
    $("#signup-page").toggleClass("hidden");
  });

  function signup() {
    let inputName = $("#input-nickname").val();
    let inputId = $("#input-id").val();
    let inputPw = $("#input-pw").val();

    $.ajax({
      type: "POST",
      url: "/signup",
      data: {
        user_id_give: inputId,
        user_pw_give: inputPw,
        user_nickname_give: inputName,
      },
      success: function (response) {
        if (response["result"] == 200) {
          alert("가입되었습니다.");
          location.href = "/";
        } else if (response["error"] == 409) {
          $("#input-id").css("border", "1px solid red");
          let idError = `<span style="color: red">중복된 아이디 입니다.<span>`;
          $("#container-form").append(idError);
        }
      },
    });
  }
</script>
{% endblock %}
