<div class="h-[80%] px-5 pt-5 rounded-md">
  <div class="h-full bg-white pt-5">
    <div class="text-2xl">장바구니추천리스트</div>
    <ul id="recommend" class="h-[524px] pt-2 overflow-y-scroll"></ul>
  </div>
</div>

<script>
  inputId = atob(window.location.pathname.split("/")[2]);
  $(document).ready(function () {
    show_recommend();
  });
  function show_recommend() {
    $("#recommend").empty();
    $.ajax({
      type: "POST",
      url: "/keywords",
      data: { user_id_give: inputId },
      success: function (response) {
        let keyword_list = response["keyword_list"];
        for (i = 0; i < keyword_list.length; i++) {
          let keyword_recommned = keyword_list[i];
          let temp_html = `<li class="flex justify-around text-xl bg-light rounded-2xl py-2 mb-1">
                            <span>${keyword_recommned}</span>
                            <span>수량 0개</span>
                          </li>`;
          $("#recommend").append(temp_html);
        }
      },
    });
  }
</script>
