<div class="h-[80%] p-5 rounded-md">
  <div class="h-full bg-white">장바구니추천리스트
    <ul id="recommend"></ul>
  </div>
</div>


<script>  
  inputId = atob(window.location.pathname.split("/")[2]);
  $(document).ready(function () {
    show_recommend();
  });
  function show_recommend(){
    $("#recommend").empty();
    $.ajax({
      type:"POST",
      url:"/keywords",
      data:{user_id_give : inputId},
      success: function(response) {
        let keyword_list = response["keyword_list"]
        for (i = 0; i < keyword_list.length; i++){
          let keyword_recommned = keyword_list[i]
          let temp_html = `
          <li><span>${keyword_recommned}</span></li>`
          $("#recommend").append(temp_html);
        }
      }
    })
  }


</script>