<header class="container mx-auto mt-40 mb-60">
  <p class="text-center text-7xl font-bold text-basic">The Fresh Keeper</p>
  <p class="text-center text-3xl text-dark">냉장고 관리 도우미</p>
</header>

<div class="container mx-auto px-60">
  <div class="p-2 rounded-2xl bg-white">
    <div>
      <div class="mt-2">
        <input
          type="text"
          placeholder="ID"
          id="user-id"
          name="user-id"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
        />
      </div>
    </div>
    <div>
      <div class="mt-2">
        <input
          type="password"
          placeholder="PW"
          id="user-pw"
          name="user-pw"
          class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>
    <div class="mt-2">
      <input
        type="submit"
        value="로그인"
        onclick="refrigerator()"
        id="btn-login"
        class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6 bg-basic text-white"
      />
    </div>
    <div class="mt-2 text-center text-basic">
      <button id="btn-signup">회원가입</button>
    </div>
  </div>
</div>

<script>
  $("#btn-signup").on("click", function () {
    $("#login-page").toggleClass("hidden");
    $("#signup-page").toggleClass("hidden");
  });

  // 로그인 api response가 안옴
  function login() {
    let inputId = $("#user-id").val();
    let inputPw = $("#user-pw").val();

    $.ajax({
      type: "POST",
      url: "/login",
      data: { id_give: inputId, pw_give: inputPw },
      success: function (response) {
        if (response["result"] == "success") {
          console.log("성공");
          // 1. 로컬스토리지에 사용자 id 저장
          // 2. {category_give: "냉장", user_id_give: 사용자 id}로 "/refrigerator"로 POST 요청
          // 3. 서버 측 "/refrigerator" API에서 render_template
          location.href = "/refrigerator";
        } else {
        }
      },
    });
  }

  // 냉장고 페이지 이동용
  function refrigerator() {
    $.ajax({
      type: "POST",
      url: "/refrigerator",
      data: { category_give: "냉장", user_id_give: "forrest" },
      success: function (response) {
        console.log(response);
      },
    });
  }
</script>
<script src="../static/js/tailwind.config.js"></script>
