<div
  class="bg-white rounded-2xl w-[50%] h-[40%] shadow-lg my-auto mx-auto absolute inset-0 text-gray-600 p-4"
>
  <button class="w-full text-right text-3xl">x</button>
  <div class="px-10">
    <div class="mt-2 flex gap-5">
      <input
        type="text"
        placeholder="ID"
        name="user-id"
        class="block w-[90%] rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
      />
      <button class="text-basic">등록</button>
    </div>
  </div>

  <div class="pt-5 px-10 overflow-scroll">
    <ul>
      <li class="flex justify-between mx-5">
        <span>식료품 이름</span>
        <button>삭제</button>
      </li>

      <li class="flex justify-between mx-5">
        <span>식료품 이름</span>
        <button>삭제</button>
      </li>
    </ul>
  </div>
</div>
