<div
  id="apple"
  class="bg-white rounded-2xl w-[50%] h-[40%] shadow-lg my-auto mx-auto absolute inset-0 text-gray-600 p-4"
>
  <button class="w-full text-right text-3xl" onclick="closeModal()">x</button>
  <div class="px-10">
    <div class="mt-2 flex gap-5">
      <input
        type="text"
        placeholder="식료품 이름"
        id="food-id"
        class="block w-[90%] rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-m sm:leading-6"
      />
      <button class="text-basic" onclick="add_keyword()">등록</button>
    </div>
  </div>
  <div id="show_key" class="scrollbar-hide">
    <ul>
      <li class="flex justify-between mx-5">
        <span>식료품 이름</span>
        <button onclick="del_keyword()">삭제</button>
      </li>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function () {
    // 현재 url에서 user_id 가져오기
    inputId = atob(window.location.pathname.split("/")[2]);
    show_key();
  });

  function closeModal() {
    document.querySelector("details").removeAttribute("open");
  }

  function add_keyword() {
    let inputKeyword = $("#food-id").val();
    $.ajax({
      type: "POST",
      url: "/keywords/add",
      data: {
        keyword_give: inputKeyword,
        user_id_give: inputId,
      },
      success: function (response) {
        if (response["result"] == 200) {
          alert("추가되었습니다.");
        }
        if (response["result"] != 200) {
          alert("이미 존재하는 키워드 입니다.");
        }
      },
    });
  }

  function del_keyword(keyword) {
    console.log(keyword);
    $.ajax({
      type: "POST",
      url: "/keywords/delete",
      data: { keyword_give: keyword },
      success: function (response) {
        if ((response["result"] = 200)) {
          alert("삭제되었습니다.");
        }
      },
    });
  }

  function show_key() {
    $("#show_key").empty();

    $.ajax({
      type: "POST",
      url: "keywords/show",
      data: { user_id_give: inputId },
      success: function (response) {
        let show_keys = response["show_keys"];
        for (i = 0; i < show_keys.length; i++) {
          let keyword = show_keys[i]["keyword"];
          let temp_html = `<div id="show_key" class="pt-5 px-10 ">
                            <ul>
                              <li class="flex justify-between mx-5">
                                <span>${keyword}</span>
                                <button onclick="del_key('${keyword}')">삭제</button>
                              </li>
                            </ul>
                          </div>`;
          $("#show_key").append(temp_html);
        }
      },
    });
  }
</script>
